@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1b1c1c;
  background-color: #fbf9f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #ff6b35;
  color: #ffffff;
}
